

    <!-- Start Footer 1-3 -->
	<section class="content-block-nopad bg-deepocean">
		<div class="container footer-1-3">
<br>
			<div class="col-md-4 pull-left">
				<img src="{{ 'assets/images/polLogo.jpeg' |theme }}" class="brand-img img-responsive" style="height:30%;width:30%;">
				<ul class="social social-light">
			</div>
			<div class="col-md-3 pull-right">
				<div class="editContent">
					<p class="address-bold-line">We <span class="fa fa-heart pomegranate"></span> our amazing volunteers</p>
				</div>
				<div class="editContent">
					<p class="address small">
						123 Anywhere Street,<br>
						Atlanga, GA
            <br>
					</p>
				</div>
			</div>
			<div class="col-xs-12 footer-text">
				<div class="editContent">
					<p>Please take a few minutes to read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Privacy Policy</a></p>
				</div>
			</div>
		</div><!-- /.container -->
	</section>
	<!--// END Footer 1-3 -->
